<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning HTMX</title>
    <script src="./htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    <!-- <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'> -->
  </head>
  <body style="background: gray">
    <button hx-get="http://localhost:4444/start" hx-trigger="click">
      Start
    </button>
    <button hx-get="http://localhost:4444/stop" hx-trigger="click">Stop</button>
    <button hx-get="http://localhost:4444/reset" hx-trigger="click">
      Reset
    </button>
    <div>
      <input
        type="range"
        id="speed"
        name="speed"
        min="1"
        max="100"
        value="1"
        hx-post="http://localhost:4444/speed"
      />
      <label for="speed">Speed</label>
    </div>

    <div hx-ext="ws" ws-connect="ws://localhost:4444/ws">
      <canvas id="game" width="800" height="800"></canvas>
    </div>

    <script>
      const NUMBER_OF_ROWS = 50;
      const NUMBER_OF_COLUMNS = 50;
      const CELL_SIZE = 15;

      const canvas = document.getElementById("game");
      const ctx = canvas.getContext("2d");

      ctx.lineWidth = "2";
      ctx.strokeStyle = "red";

      let counter = 0;
      while (counter < NUMBER_OF_ROWS) {
        let rowStep = counter * CELL_SIZE;

        ctx.strokeRect(10 + rowStep, 10, CELL_SIZE, CELL_SIZE);
        ctx.fillRect(10 + rowStep, 10, CELL_SIZE, CELL_SIZE);
        ctx.stroke();

        counter++;

        if (counter === 0) {
          continue;
        }

        for (let j = 0; j < NUMBER_OF_ROWS; j++) {
          let columnStep = j * CELL_SIZE;
          ctx.strokeRect(10 + rowStep, 10 + columnStep, CELL_SIZE, CELL_SIZE);
          ctx.fillRect(10 + rowStep, 10 + columnStep, CELL_SIZE, CELL_SIZE);
          ctx.stroke();
        }
      }
    </script>
  </body>
</html>
