<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning HTMX</title>
    <script src="./htmx.min.js"></script>
    <script src="https://unpkg.com/htmx-ext-ws@2.0.0/ws.js"></script>
    <!-- <meta name="htmx-config" content='{"defaultSwapStyle":"outerHTML"}'> -->
  </head>
  <body style="background: red">
    <button hx-get="http://localhost:4444/start" hx-trigger="click">
      Start
    </button>
    <button hx-get="http://localhost:4444/stop" hx-trigger="click">Stop</button>

    <div hx-ext="ws" ws-connect="ws://localhost:4444/ws">
      <div
        id="game"
        style="
          display: grid;
          gap: 2px;
          grid-template-columns: repeat(20, 15px);
          grid-template-rows: repeat(20, 15px);
        "
      ></div>
    </div>
  </body>
</html>
